<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aliyun.demo.importer">

    <application>
        <activity
            android:name="com.aliyun.demo.importer.ImportEditSettingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.aliyun.demo.importer.MediaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>