<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyun.demo.crop">

    <application>
        <activity android:name="com.aliyun.demo.crop.CropSettingTest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.duanqu.qupai.action.crop.setting"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.aliyun.demo.crop.MediaActivity"
            android:theme="@style/AliyunVideoUIStytle"
            tools:replace="android:theme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.duanqu.qupai.action.crop"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.aliyun.demo.crop.AliyunVideoCrop"
            android:theme="@style/AliyunVideoUIStytle"
            tools:replace="android:theme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.aliyun.demo.crop.AliyunImageCrop"
                  android:theme="@style/AliyunVideoUIStytle"
                  tools:replace="android:theme"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
